// ----------------------------------------------------------------------------------------------------
// scss - utils - MIXINS
// ----------------------------------------------------------------------------------------------------

@mixin flexgrid( $flow: row wrap, $align: stretch, $justify: center ) {
  display: flex;
  flex-flow: $flow;
  align-items: $align;
  justify-content: $justify;
}

@mixin block( $backcolor: transparent ) {
  width: 100%;
  background: $backcolor;
}

@mixin padding {
    padding: 0 $padding-main;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}