// ----------------------------------------------------------------------------------------------------
// scss - utils - MIXINS
// ----------------------------------------------------------------------------------------------------

@mixin flexgrid( $direction: row, $align: left, $justify: center ) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
