// ----------------------------------------------------------------------------------------------------
// scss - utils - VARIABLES
// ----------------------------------------------------------------------------------------------------

// couleurs
$color-pri:  #9356DC;
$color-sec:  #FF79DA;
$color-ter:  #99E2D0;
$color-loc:  #eaeaea;
$color-back: #f6f6f6;
$color-foot: #353535;
