// ----------------------------------------------------------------------------------------------------
// scss - pages - RESTAURANT
// ----------------------------------------------------------------------------------------------------

%rest-back {
    width: 100%;
    min-height: 16.25rem;
    background-position: center;
    background-size: cover;
    flex: 1;
}

.rest-head {

    &__back {
        &1 {
            @extend %rest-back;
            background-image: url("../pic/restaurants/large/rest_1_lapalette.jpg");
        }
        &2 {
            @extend %rest-back;
            background-image: url("../pic/restaurants/large/rest_2_lanote.jpg");
        }
        &3 {
            @extend %rest-back;
            background-image: url("../pic/restaurants/large/rest_3_alafrancaise.jpg");
        }
        &4 {
            @extend %rest-back;
            background-image: url("../pic/restaurants/large/rest_4_ledelice.jpg");
        }
    }
    
    &__card {
        width: 100%;
        height: 2.5rem;
        margin-top: -2.1rem;
        border-radius: 2.1rem 2.1rem 0 0;
        @include block( $color-apmain );
        }
}

.rest-card {
    @include block( $color-apmain );
    padding: 0 $padding-rest;
    @include flexgrid( column );

    &__header {
        width: 20.9375rem;
        margin: -0.125rem auto 0;
        text-align: left;
        @include flexgrid( row );

        h1 {
            flex: 1;
            font-family: Shrikhand;
            font-size: 1.6875rem;
        }
    }

    &__dishes {
        @include flexgrid(row wrap, stretch, space-around);
    }

    &__box {
        width: 100%;

        @include min-media("tablet") {
            width: 49%;
        }

        @include min-media("desktop") {
            width: 32%;
        }
    }

    &__title {
        margin-top: 2.125rem;
        padding: 0 ($padding-main)-($padding-rest);
        text-transform: uppercase;
        opacity: 0.7;
    }

    hr {
        width: 2.5rem;
        height: 0.1875rem;
        margin: 0.125rem 0 0;
        background: $color-ter;
        border: none;
    }

    &__dish {
        overflow: hidden;
        @include btn-std;
        height: 4.25rem;
        margin-top: 0.875rem;
        padding-left: 0.625rem;
        @include flexgrid(row);

        &:hover {
            .rest-card__dishok {
                width: 4rem;
                > .icon-ok {
                    transform: rotate(0deg);
                }
            }
        }
    }

    &__dishname {
        padding: 0.625rem 0;
        flex: 1;
        @include ellipsis;

        h4 {
            font-weight: 500;
            font-size: 1.125rem;
            @include ellipsis;
            }

        h5 {
            font-weight: 300;
            font-size: 0.9575rem;
            @include ellipsis;
            }
    }

    &__dishprice {
        width:  3rem;
        margin: auto 0.75rem 0 0;
        padding: 0.625rem 0;
        font-weight: 700;
        font-size: 0.9575rem;
        line-height: initial;
        text-align: right;
    }

    &__dishok {
        overflow: hidden;
        height: 100%;
        width: 0;
        text-align: center;
        background: $color-ter;
        @include flexgrid(row, center, center);
        transition: width 0.3s ease-in-out;
    }
}

.icon-ok {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 1.375rem;
    color: white;
    transform: rotate(360deg);
    transition: transform 0.4s ease-out;

    &:before {
        content: "\f058";
    }
}
