// ----------------------------------------------------------------------------------------------------
// scss - layout - FOOTER
// ----------------------------------------------------------------------------------------------------

footer {
    padding: 1.5625rem;
    color: white;
    background: $color-foot
  }

