// ----------------------------------------------------------------------------------------------------
// scss - layout - FOOTER
// ----------------------------------------------------------------------------------------------------

footer {
    padding: 1.5625rem;
    background: $color-foot;
    a {
        color: white;
        text-decoration: none;
    }
  }

  .foot-title {
    font-family: Shrikhand;
    font-size: 1.1875rem;
  }
