// ----------------------------------------------------------------------------------------------------
// scss - layout - GRID
// ----------------------------------------------------------------------------------------------------

#wrapper {
    min-height: 100vh;
    @include flexgrid( column, center );
}

.inner {
    max-width: 1200px;
    margin: auto;
}