// ----------------------------------------------------------------------------------------------------
// scss - layout - GRID
// ----------------------------------------------------------------------------------------------------

.flex-row {
    display: flex;
    flex-direction: row
}
  
.flex-row-wrap {
    display: flex;
    flex-flow: row wrap
}
  
.flex-col {
    display: flex;
    flex-direction: column
}
  
.flex-col-wrap {
    display: flex;
    flex-flow: column wrap
}

#wrapper {
  min-height: 100vh
}