// ----------------------------------------------------------------------------------------------------
// scss - layout - HEADER
// ----------------------------------------------------------------------------------------------------

.head-logo {
    padding-top: 1.375rem;
    padding-bottom: 0.75rem;
    @include block;

    a {
        @include flexgrid;
        max-width: 20%;
        min-width: 10.45rem;
        height: auto;
        margin: auto;
    }
}

.head-home_link {
    position: absolute;
    top: 1.625rem;
    left: 1.4375rem;
    font-size: 1.2rem;
    color: black;
}
