// ----------------------------------------------------------------------------------------------------
// scss - components - ANIMATED ICONS
// ----------------------------------------------------------------------------------------------------

%heart-base {
    width: 22px;
    height: 22px;
    margin: auto;
    background-position: center;
    background-size: cover;
}

.icon-heart {

    &--fill {
        @extend %heart-base;
        background-image: url("../pic/icons/heart-fill.svg");
    }

    &--empty {
        @extend %heart-base;
        background-color: white;
        background-image: url("../pic/icons/heart-outline.svg");
        cursor: pointer;
        transition: opacity 0.5s ease-in-out;
    
        &:hover {
            opacity:0;
        }
    }
}

@keyframes dishfade {
    from { transform: translateY(1rem);
           opacity: 0;
         }
    to { transform: translateY(0);
         opacity: 1;
       }
}

.dish-up {
    @for $i from 1 through 4 {
        &--delay#{$i} {
            @include dish-fade($i / 10 - 0.05s);
        }
    }
}

@keyframes dishwidth {
    from { width: 0; }
    to   { width:  3.75rem; }
}
