// ----------------------------------------------------------------------------------------------------
// scss - components - BUTTONS
// ----------------------------------------------------------------------------------------------------

.btn--gradient {
    height: 3.125rem;
    width: 13.625rem;
    color: white;
    background: linear-gradient( $color-sec, $color-pri );
    border: none;
    border-radius: 1.5625rem;
    box-shadow: 0px 4px 10px -2px rgba( 0, 0, 0, 0.4 );
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    line-height: 3.125rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
        background: linear-gradient( lighten( $color-sec, 4% ), lighten( $color-pri, 4% ));
        box-shadow: 0px 4px 10px -2px rgba( 0, 0, 0, 0.6 );
    }
}

%btn-nav {
    height: 4.5rem;
    @include btn-std( $color-apmain );

    &:hover {
        background: $color-nav-hover;
        box-shadow: 0px 6px 10px -2px rgba( 0, 0, 0, 0.24);
    }
}

.btn-command {
    margin: 2.875rem auto 3.625rem;
}
