// ----------------------------------------------------------------------------------------------------
// scss - base - RESET
// ----------------------------------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figure,
figcaption {
  margin: 0;
  padding: 0;
}

html {
    font-size: 100%;

    &:focus-within {
        scroll-behavior: smooth;
    }
}

body {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    color: $color-text;
    background: $color-appage;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: normal;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

main {
    flex-grow: 1;
    width: 100%;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}  

h1, h2 {
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.6875rem;
}

h3 {
    font-weight: 500;
    font-size: 1.125rem;
}

h5 {
    font-weight: 300;
    font-size: 1.0625rem;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
}
 